extends layout

block content
	a(href="/") Home
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/createtrip") Create a new trip!
	br
	a(href="/tripinvites") Trip Invites
	br
	a(href="/friendstrips") My friends trips
	br		
	a(href="/search") Search
	br
	a(href="/logout") Logout

	
	p #{errormsg}
	
	form(method='post')
		p
			label(for='friendee') Who do you want to add?
			input(type='text', name='friendee')
		input(type='submit')