extends layout

block content
	h1 Go make friends, doe
	a(href="/") Home			
	a(href='/myprofile') MyProfile	
	a(href="/friendrequests") Pending Friend Requests
	a(href="/logout") Logout

	
	p #{errormsg}

	form(method='post')
		p
			label(for='friendee') Who do you want to add?
			input(type='text', name='friendee')
		input(type='submit')