extends layout
block content
	a(href="/") Home
	br			
	a(href="/addfriends") Add Friends
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/logout") Logout

	h1 Plan your trip! Who would you like to invite? 
	form(method='post')
		p
			input(type='hidden', value='#{tripid}', name='tripid')
		p
			label(for="invitees") Friends:
			for invitee in invitees
				p
					input(type="checkbox", name="invited", value='#{invitee}').form-control
					'#{invitee}'

