extends layout

block content
	h1 Log on to your Tripster account
	form(method='post')
		p
			label(for='email') Username
			input(type='text', name='username')
		p
			label(for='password') Password
			input(type='password', name='password')
		input(type='submit')
  
