extends layout

block content
	h1 Sign up for Tripster
	a(href="/") Home			
	a(href="/login") Login

	form(method='post')
		p
			label(for='email') Username
			input(type='text', name='username')
		p
			label(for='password') Password
			input(type='password', name='password')
		input(type='submit')
  
