extends layout
block content
	a(href="/") Home
	br
	a(href="/addfriends") Add Friends
	br
	a(href="/editprofile") Edit My Profile 
	br
	a(href="/friendrequests") Pending Friend Requests
	br
	a(href="/tripinvites") Trip Invites
	br
	a(href="/logout") Logout

	h1 Congrats your trip was successfully created! 
	p View your trips here: 
	a(href="/mytrips") My Trips